<h1>Listing pins</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  
    <%= render @pins %>
 
      
    
 
</table>

<br>

<%= link_to 'New Pin', new_pin_path %>
