
</h1>
<div class="jumbotron">
        <h1>Zamiana1 mauris</h1>
        <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam...</p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
</div>
<div class="row">
	<div class="col-md-4">
			<h2>Nawigacja tutaj:</h2>
			<p>To są paski </p>
	</div>
	<div class="col-md-8">
		<h1>Tutaj inne</h1>
		<p>
			Znalazłes stronę
			<%= link_to "One month Rails", "https://onemonthrails.com/" %>
		</p>
		<p>
			<%= link_to "Sign UP!", new_user_registration_path %>
		</p>
	</div>


           
</div><!--/row-->
