@import url(http://fonts.googleapis.com/css?family=Oxygen);
$baseFontFamily: Oxygen; 
@import 'bootstrap';

body {
	margin-top: -30px;
	
}
.footer {
	color: gray;

	margin-top: 50px;
	a {
		color: gray;
	}
}

.nazwa {
	
	h5 {
		font-size:14px;
		margin-top:14px;
	}
}